<nav class="navbar navbar-light bg-light top-navbar-t4">
    <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">Navbar</a>
        <ul class="navbar-nav ml-auto">
            <li id="loginB" class="nav-item"><a href="javascript:login('show');">login</a></li>
            <li class ="nav-item <%if(!loginFlag){%>nonish<%}%>" id="logoutB"><a href="javascript:logout();">logout</a></li>
        </ul>
    </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="tab-item-t4 nav-item <%if(!loginFlag){%>disabled1<%}%>">
                    <a class="nav-link" href="#">catalog</a>
                </li>
                <li class="tab-item-t4 nav-item <%if(!managerFlag){%>disabled1<%}%>">
                    <a class="nav-link" href="#">branch managment</a>
                </li>
                <li class="tab-item-t4 nav-item <%if(!loginFlag){%>disabled1<%}%>">
                    <a class="nav-link" href="#">user managment</a>
                </li>
                <li class="tab-item-t4 nav-item active">
                    <a class="nav-link" href="#">about</a>
                </li>
                <li class="tab-item-t4 nav-item">
                    <a class="nav-link" href="#">contact</a>
                </li>


            </ul>
        </div>
    </div>
  </nav>
