<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron divclass">
            <p>האתר לפניכם הוא אתר לדוגמא בו ניתן לראות תרגול על אלמנט הejs.<br>
                נתבקשנו לבנות אתר יחסית מעוצב בו ניתן לראות בברור את השימוש המרכזי בejs
                שהוא שימוש חוזר באותם חלקים </p>
        </div>
    </div>
</div>