<!DOCTYPE html>
<!-- views/about.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
    <style>
        .divclass{
            color: black;
            text-align: right;
            direction: rtl;
        }
    </style>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron divclass" >
                    <p>האתר לפניכם הוא אתר לדוגמא בו ניתן לראות תרגול על אלמנט הejs.<br>
                        נתבקשנו לבנות אתר יחסית מעוצב בו ניתן לראות בברור את השימוש המרכזי בejs
                    שהוא שימוש חוזר באותם חלקים                     </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
