<div class="container">
    <div class ="row">
        <%for(var i = 0;i<flower.length;i++){%>
        <div class="col-sm-4 flower">
            <div class="img-thumbnail">
                <h1><%=flower[i].name%></h1>
                <img src="<%=flower[i].img%>" class="" alt="">
                <p>price : <%=flower[i].price%></p>
            </div>
        </div>

        <%}%>
        </ul>
    </div>
</div>
