<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
    <style>
        div{
            float: left;
            margin: 0px 6px;
        }
        .myheader{
            color: lightslategrey;
        }
        .card{
            height: 170px;
        }
    </style>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
            <p class="h1"><%= tagline %></p>
          <% students.forEach(function(student) { %>
            <% include ./student %>
          <% }); %>

    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
