<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
    <style>
        .special-div {
            float: left;
            margin: 0px 6px;
        }

        .myheader {
            color: lightslategrey;
        }

        /*.card {*/
            /*height: 170px;*/
        /*}*/
    </style>
</head>
<body>
<header class="fluid-container">
    <% include partials/header %>
</header>
<main class="fluid-container">
    <div class="main-bg min-h">
            <p class=""><%= tagline %></p>
    </div>
</main>
<footer class="fluid-container" style="margin-bottom:0%">
    <% include partials/footer %>
</footer>
<div id="popupbox">
    <form id="loginForm" name="login">
        Username:
        <input id="usernameF" type="text" name="username" size="14"/>
        Password:
        <input id="passwordF" type="password" name="password" size="14"/>
        <button>login</button>
    </form>
    <br/>
    <a href="javascript:login('hide');">close</a>
</div>
</body>
</html>
