<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
    <style>
        .special-div{
            float: left;
            margin: 0px 6px;
        }
        .myheader{
            color: lightslategrey;
        }
        .card{
            height: 170px;
        }
    </style>
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="main-bg">
            <p class=""><%= tagline %></p>
        </div>

    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
