<div class="card" style="width: 17rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item page-header myheader"><h4><%= student.name %><h4></li>
      <li class="list-group-item"><b>Age:</b> <%= student.age %></li>
      <li class="list-group-item"><b>Field:</b> <%= student.field %></li>
    </ul>
  </div>