body{
    overflow:auto;
}
.top-navbar-t4{
    background-color: transparent;
}

.main-bg{
    /*background-color: #b8ffe7;*/
    /*overflow: auto;*/
}
.footer-bg{
    background-color: #595c59;
    width: 100%;
    color: #fff;
    text-align: center;
    /*overflow: auto;*/
}
footer{
    margin:0;
    padding:0;
    /*overflow: auto;*/
}
.divclass{
    background: white;
    text-align: center;
    direction: rtl;
    margin: 0;

}
.disabled1{
    text-decoration: line-through;
}
#popupbox{
    top: 100px;
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 20%;
    height: 150px;
    position: absolute;
    background: #FBFBF0;
    border: solid #000000 2px;
    z-index: 9;
    font-family: arial;
    visibility: hidden;
}
